Repository COS301-SE-2022/Training-Buddy, pull requests merged in 2022-06, with the labels that each got.

#133 🚧 (API/REPO) Getting firebase configs
  .env
  apps/api/src/main.ts
  apps/api/src/training-buddy-2022-firebase-adminsdk-uine6-59d810bb2a.json
  libs/api/internal-api/api/training-buddy-api/src/lib/api-internal-api-api-training-buddy-api.module.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.module.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/api/shared/services/prisma/data-access/src/index.ts
  libs/api/shared/services/prisma/data-access/src/lib/api-shared-services-prisma--data-access.service.ts
  package.json
  prisma/migrations/20220511002528_columns_edited/migration.sql
  prisma/migrations/20220512022523_edit_password_col/migration.sql
  prisma/migrations/20220512151801_dropped_table/migration.sql
  prisma/migrations/20220512171820_change_column_names/migration.sql
  prisma/migrations/20220512172217_change_column_name_2/migration.sql
  prisma/migrations/20220512173647_unique_email/migration.sql
  prisma/migrations/20220512212052_update/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Labels: priority:high, scope:api, scope:repository, status:not-ready, type:enhance

#149 ✅ (Tests): Tested login function
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
Labels: priority:medium, scope:api, status:ready, type:change, type:test, type:new

#152 🧪 (Failing Test) : Added failing test.
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
Labels: priority:medium, scope:api, status:not-ready, status:needs-tests, type:change, type:test, scope:admin, type:new

#153 🐛 Fix
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, scope:db, scope:repository, status:not-ready, status:needs-tests, type:bug

#154 Data Access Functions added
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:medium, scope:db, status:ready, type:new

#157 ✅ (Tests) : Test activityStat implementation
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
Labels: priority:medium, scope:api, status:ready, type:documentation, type:test

#156 Api/endpoints
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:not-ready, status:needs-tests, type:new

#159 Api/endpoints
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:not-ready, type:enhance

#158 Added Data Access Functions
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:db, status:ready, type:new

#161 ⚡️ ✅ (Test) : Added tests to resolver
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
Labels: priority:medium, scope:api, scope:repository, status:ready, type:change, type:test

#162 🔥✅ (Testing) : Added tests and removed modules.
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
Labels: priority:medium, scope:api, scope:repository, status:ready, type:change, type:test, type:new

#164 Testing and Fixing endpoints (userConfig and updateProfile)
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:api, scope:db, status:ready, type:bug

#165 Api/endpoints
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:not-ready, type:enhance

#166 🐛 (Fix)
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#168 Update api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:api, scope:db, status:ready, type:new

#169 ✅ ✏️ (Test) : Fix internal api tests
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
Labels: priority:medium, scope:api, scope:repository, status:ready, type:bug, type:change, type:enhance, type:test, type:new

#179 🧪 ✅ 🚑 (Testing & Hosting) : Fixed lint and unit issues
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
Labels: priority:high, scope:repository, status:ready, type:bug, type:change, type:test

#170 ✨🚀Netlify
  apps/client/src/index.html
  index.html
  package.json
  yarn.lock
Labels: priority:low, scope:cicd, status:ready, type:enhance

#184 🚑(Fix routing)
  apps/client/src/index.html
  index.html
Labels: priority:high, scope:ui, status:ready, type:bug

#185 🚑Update index.html
  apps/client/src/index.html
Labels: priority:low, scope:cicd, scope:client, status:needs-tests, type:bug

#186 ✅ (Test) : Integration and Unit testing
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
Labels: priority:high, scope:repository, status:ready, type:bug, type:test, type:new

#187 ✅ 🆗 (Testing) : Completed testing repo layer
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
Labels: priority:high, priority:medium, scope:repository, status:ready, type:change, type:enhance, type:test

#188 🔖 💚 (Code Coverage) : Added Codecov badge
  .github/workflows/PRmetatest.yml
Labels: priority:high, priority:medium, scope:repository, status:ready, type:documentation, type:refactor, type:enhance, type:test, scope:admin, type:new

#183 Update api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:api, scope:db, status:ready, type:change

#190 💚 ✅ (Coverage) : Moved runs to nxtest
  .github/workflows/PRmetatest.yml
  .github/workflows/nxtest.yml
Labels: priority:medium, scope:cicd, scope:repository, status:ready, type:documentation, type:enhance, type:test, type:new

#192 Api/endpoints
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/response-logs.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/response-workout.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, scope:repository, status:ready, status:needs-tests, type:enhance, type:new

#193 🐛 (Coverage) : Removed runs from nxtest
  .github/workflows/nxtest.yml
Labels: priority:high, priority:medium, scope:repository, status:ready, type:change, type:refactor, type:enhance, type:test, type:new

#144 💄 🎨 Adding basic Schedule Workout use case
  .firebaserc
  README.md
  apps/client/src/app/app-routing.module.ts
  apps/client/src/app/app.module.ts
  firebase.json
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-schedule.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.html
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.spec.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.ts
  libs/client/profileimageupload/.eslintrc.json
  libs/client/profileimageupload/README.md
  libs/client/profileimageupload/jest.config.js
  libs/client/profileimageupload/project.json
  libs/client/profileimageupload/src/index.ts
  libs/client/profileimageupload/src/lib/client-profileimageupload.module.ts
  libs/client/profileimageupload/src/lib/profileimageupload-routing.module.ts
  libs/client/profileimageupload/src/lib/profileupload/profileupload.component.html
  libs/client/profileimageupload/src/lib/profileupload/profileupload.component.scss
  libs/client/profileimageupload/src/lib/profileupload/profileupload.component.spec.ts
  libs/client/profileimageupload/src/lib/profileupload/profileupload.component.ts
  libs/client/profileimageupload/src/test-setup.ts
  libs/client/profileimageupload/tsconfig.json
  libs/client/profileimageupload/tsconfig.lib.json
  libs/client/profileimageupload/tsconfig.spec.json
  libs/client/scheduleworkout/feature/src/lib/client-scheduleworkout-feature.module.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.html
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.scss
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.spec.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:low, scope:client, scope:ui, status:not-ready, type:test

#194 💚 🚀 (Coverage) : Codecov coverage
  .github/workflows/nxtest.yml
  README.md
  jest.preset.js
Labels: priority:high, scope:repository, status:ready, type:bug, type:change, type:refactor, type:enhance, scope:admin, type:new

#195 ✨connect login to API
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
Labels: priority:high, scope:api, status:ready, type:new

#198 ✨Set browser cookies
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.spec.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/profileimageupload/src/lib/profileupload/profileupload.component.ts
  package.json
  yarn.lock
Labels: priority:medium, scope:cicd, status:ready, type:enhance

#197 ✅ (Coverage) : code coverage
  .github/workflows/full.yml
  .github/workflows/index.yml
  .github/workflows/nxtest.yml
  README.md
  jest.preset.js
  merge-reports.js
Labels: priority:high, priority:medium, scope:cicd, scope:client, scope:ui, status:ready, type:change, type:enhance, type:test, type:new

#199 Connecting the Frontend to the API
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/signup/feature/src/lib/signup/signup.component.ts
Labels: priority:high, scope:api, scope:repository, status:needs-tests, type:documentation, type:enhance

#201 ✨Cookie Services
  libs/client/signup/feature/src/lib/client-signup-feature.module.ts
  libs/client/signup/feature/src/lib/signup/signup.component.spec.ts
  libs/client/signup/feature/src/lib/signup/signup.component.ts
Labels: priority:high, scope:client, status:ready, type:new

#203 Update README.md
  README.md
Labels: priority:medium, scope:cicd, scope:repository, status:ready, type:change, type:documentation, type:enhance, scope:admin, type:new

#205 ✅ 💚 (CI) : Added coverage for CI tests
  README.md
Labels: priority:high, priority:medium, scope:cicd, scope:repository, status:ready, type:change, type:documentation, type:enhance, type:test

#206 Final Revision for Demo 2
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity-routing.module.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.spec.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.ts
  libs/client/addmanualactivity/feature/src/lib/client-addmanualactivity-feature.module.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/athlete-profile/feature/src/lib/client-athlete-profile-feature.module.ts
  libs/client/dashboard/feature/src/lib/client-dashboard-feature.module.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.spec.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/editprofile/feature/src/lib/client-editprofile-feature.module.ts
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.spec.ts
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.ts
  libs/client/scheduleworkout/feature/src/lib/client-scheduleworkout-feature.module.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.spec.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.ts
  libs/client/shared/components/navbar/ui/src/lib/navbar/navbar.component.html
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
  libs/client/viewprofile/feature/src/lib/client-viewprofile-feature.module.ts
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.spec.ts
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:high, scope:api, scope:client, status:not-ready, type:change

#209 💯 (Documentation) : Updated README
  README.md
Labels: priority:high, scope:repository, scope:ui, status:ready, type:change, type:documentation, type:enhance, scope:admin, type:new

#210 strava tokens
  .firebaserc
  firebase.json
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/client/profile/feature/.eslintrc.json
  libs/client/profile/feature/README.md
  libs/client/profile/feature/jest.config.js
  libs/client/profile/feature/project.json
  libs/client/profile/feature/src/index.ts
  libs/client/profile/feature/src/lib/client-profile-feature.module.ts
  libs/client/profile/feature/src/lib/profile-routing.module.ts
  libs/client/profile/feature/src/lib/profile/profile.component.html
  libs/client/profile/feature/src/lib/profile/profile.component.scss
  libs/client/profile/feature/src/lib/profile/profile.component.spec.ts
  libs/client/profile/feature/src/lib/profile/profile.component.ts
  libs/client/profile/feature/src/test-setup.ts
  libs/client/profile/feature/tsconfig.json
  libs/client/profile/feature/tsconfig.lib.json
  libs/client/profile/feature/tsconfig.spec.json
  libs/client/settings/feature/src/lib/profile-routing.module.ts
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
Labels: priority:low, scope:db, status:ready, type:refactor

#207 Final Demo 2 Code
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/tokens.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/tokens.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.ts
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:high, scope:api, scope:client, scope:ui, status:ready, type:change
