Repository COS301-SE-2022/Training-Buddy, pull requests merged in 2022-05, with the labels that each got.

#8 Updated The Readme
  README.md
Labels: priority:low, scope:client, status:not-ready, type:documentation

#17 :art: Fixing repo for `yarn test`
  apps/client/src/app/app.component.spec.ts
  apps/client/src/app/app.component.ts
Labels: priority:medium, scope:cicd, status:ready, type:change

#18 :fire: Adding Routing, Generating libs
  apps/client-e2e/project.json
  apps/client/src/app/app-routing.module.ts
  apps/client/src/app/app.component.html
  apps/client/src/app/app.module.ts
  libs/client/login/feature/.eslintrc.json
  libs/client/login/feature/README.md
  libs/client/login/feature/jest.config.js
  libs/client/login/feature/project.json
  libs/client/login/feature/src/index.ts
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/login-routing.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.scss
  libs/client/login/feature/src/lib/loginpage/loginpage.component.spec.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/login/feature/src/test-setup.ts
  libs/client/login/feature/tsconfig.json
  libs/client/login/feature/tsconfig.lib.json
  libs/client/login/feature/tsconfig.spec.json
  libs/client/signup/feature/.eslintrc.json
  libs/client/signup/feature/README.md
  libs/client/signup/feature/jest.config.js
  libs/client/signup/feature/project.json
  libs/client/signup/feature/src/index.ts
  libs/client/signup/feature/src/lib/client-signup-feature.module.ts
  libs/client/signup/feature/src/lib/signup-routing.module.ts
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.spec.ts
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  libs/client/signup/feature/src/test-setup.ts
  libs/client/signup/feature/tsconfig.json
  libs/client/signup/feature/tsconfig.lib.json
  libs/client/signup/feature/tsconfig.spec.json
  nx.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, scope:client, status:ready, type:change

#20 :see_no_evil: updating .gitignore and removing zip
  .gitignore
  graduates-45907f9d4189bcf1e52c8fb2e7645216ab993a9a.zip
Labels: priority:low, scope:repository, status:not-ready, type:change

#25 👽️ (API): Added Structure and EVN Config
  .env
  libs/api/internal-api/api/shared/interfaces/data-access/.babelrc
  libs/api/internal-api/api/shared/interfaces/data-access/.eslintrc.json
  libs/api/internal-api/api/shared/interfaces/data-access/README.md
  libs/api/internal-api/api/shared/interfaces/data-access/jest.config.js
  libs/api/internal-api/api/shared/interfaces/data-access/project.json
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/api-internal-api-api-shared-interfaces-data-access.module.ts
  libs/api/internal-api/api/shared/interfaces/data-access/tsconfig.json
  libs/api/internal-api/api/shared/interfaces/data-access/tsconfig.lib.json
  libs/api/internal-api/api/shared/interfaces/data-access/tsconfig.spec.json
  libs/api/internal-api/api/training-buddy-api/.babelrc
  libs/api/internal-api/api/training-buddy-api/.eslintrc.json
  libs/api/internal-api/api/training-buddy-api/README.md
  libs/api/internal-api/api/training-buddy-api/jest.config.js
  libs/api/internal-api/api/training-buddy-api/project.json
  libs/api/internal-api/api/training-buddy-api/src/index.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/api-internal-api-api-training-buddy-api.module.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/api/training-buddy-api/tsconfig.json
  libs/api/internal-api/api/training-buddy-api/tsconfig.lib.json
  libs/api/internal-api/api/training-buddy-api/tsconfig.spec.json
  libs/api/internal-api/service/shared/interfaces/data-access/.babelrc
  libs/api/internal-api/service/shared/interfaces/data-access/.eslintrc.json
  libs/api/internal-api/service/shared/interfaces/data-access/README.md
  libs/api/internal-api/service/shared/interfaces/data-access/jest.config.js
  libs/api/internal-api/service/shared/interfaces/data-access/project.json
  libs/api/internal-api/service/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/service/shared/interfaces/data-access/src/lib/api-internal-api-service-shared-interfaces-data-access.module.ts
  libs/api/internal-api/service/shared/interfaces/data-access/tsconfig.json
  libs/api/internal-api/service/shared/interfaces/data-access/tsconfig.lib.json
  libs/api/internal-api/service/shared/interfaces/data-access/tsconfig.spec.json
  libs/api/internal-api/service/training-buddy-service/.babelrc
  libs/api/internal-api/service/training-buddy-service/.eslintrc.json
  libs/api/internal-api/service/training-buddy-service/README.md
  libs/api/internal-api/service/training-buddy-service/jest.config.js
  libs/api/internal-api/service/training-buddy-service/project.json
  libs/api/internal-api/service/training-buddy-service/src/index.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/tsconfig.json
  libs/api/internal-api/service/training-buddy-service/tsconfig.lib.json
  libs/api/internal-api/service/training-buddy-service/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, scope:api, status:not-ready, type:enhance

#30 :lipstick: Adding authentication basics
  apps/client/src/app/app.component.html
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.scss
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/login/feature/src/lib/material.module.ts
  libs/client/signup/feature/src/lib/client-signup-feature.module.ts
  libs/client/signup/feature/src/lib/material.module.ts
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.ts
Labels: priority:medium, scope:client, scope:ui, status:ready, type:change

#32 👽️ ✅ (API) : Mocking It
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/api-internal-api-api-shared-interfaces-data-access.module.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user-dto.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user-dto.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user.entity.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user.entity.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/api-internal-api-api-training-buddy-api.module.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/index.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:not-ready, type:enhance

#35 Update schema.prisma
  prisma/schema.prisma
Labels: priority:medium, scope:db, status:ready, status:not-ready, type:change

#33 :fire: :lipstick: Adding rough final forms & geocoding for google auto complete
  apps/client/src/app/app.module.ts
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.scss
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/login/feature/src/lib/material.module.ts
  libs/client/shared/assets/stockImages/2.jfif
  libs/client/shared/assets/stockImages/3.jpg
  libs/client/shared/assets/stockImages/4.jpg
  libs/client/shared/assets/stockImages/5.jpg
  libs/client/shared/assets/stockImages/6.jpg
  libs/client/shared/components/navbar/ui/src/lib/material.module.ts
  libs/client/shared/components/navbar/ui/src/lib/signed/signed.component.html
  libs/client/shared/components/navbar/ui/src/lib/signed/signed.component.scss
  libs/client/shared/components/navbar/ui/src/lib/signed/signed.component.spec.ts
  libs/client/shared/components/navbar/ui/src/lib/signed/signed.component.ts
  libs/client/shared/components/navbar/ui/src/lib/ui.module.ts
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.html
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.scss
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.spec.ts
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.ts
  libs/client/shared/services/authentication/data-access/src/lib/data-access.module.ts
  libs/client/signup/feature/src/lib/client-signup-feature.module.ts
  libs/client/signup/feature/src/lib/material.module.ts
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  package.json
  tsconfig.base.json
  yarn.lock
Labels: priority:medium, scope:client, scope:ui, status:not-ready, type:change, type:test

#37 Update signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.html
Labels: priority:low, scope:ui, status:ready, type:test

#36 ✨ (API) Added Sign Up And Log In
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/login-input.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/login-input.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/login-response.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/login-response.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/api-internal-api-api-training-buddy-api.module.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/index.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-auth.guard.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-auth.guard.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-strategy.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/login.guard.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/login.guard.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  package.json
  yarn.lock
Labels: priority:medium, scope:api, status:not-ready, type:enhance

#40 (API):Fixing bugs and Adding Comments
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-auth.guard.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/login.guard.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:not-ready, type:bug, type:documentation, type:enhance

#42 (API) Bugs and Comments
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-auth.guard.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/login.guard.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:needs-tests, type:bug, type:documentation

#50 ✨ (Repo): Adding the Repo Libraries
  libs/api/internal-api/repository/data-access/.babelrc
  libs/api/internal-api/repository/data-access/.eslintrc.json
  libs/api/internal-api/repository/data-access/README.md
  libs/api/internal-api/repository/data-access/jest.config.js
  libs/api/internal-api/repository/data-access/project.json
  libs/api/internal-api/repository/data-access/src/index.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.module.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/repository/data-access/tsconfig.json
  libs/api/internal-api/repository/data-access/tsconfig.lib.json
  libs/api/internal-api/repository/data-access/tsconfig.spec.json
  libs/api/internal-api/repository/shared/interfaces/data-access/.babelrc
  libs/api/internal-api/repository/shared/interfaces/data-access/.eslintrc.json
  libs/api/internal-api/repository/shared/interfaces/data-access/README.md
  libs/api/internal-api/repository/shared/interfaces/data-access/jest.config.js
  libs/api/internal-api/repository/shared/interfaces/data-access/project.json
  libs/api/internal-api/repository/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/repository/shared/interfaces/data-access/src/lib/api-internal-api-repository-shared-interfaces-data-access.module.ts
  libs/api/internal-api/repository/shared/interfaces/data-access/tsconfig.json
  libs/api/internal-api/repository/shared/interfaces/data-access/tsconfig.lib.json
  libs/api/internal-api/repository/shared/interfaces/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:repository, status:not-ready, type:enhance

#51 🗃️ (Repo): Added Prisma Client
  libs/api/shared/services/prisma/data-access/.babelrc
  libs/api/shared/services/prisma/data-access/.eslintrc.json
  libs/api/shared/services/prisma/data-access/README.md
  libs/api/shared/services/prisma/data-access/jest.config.js
  libs/api/shared/services/prisma/data-access/project.json
  libs/api/shared/services/prisma/data-access/src/index.ts
  libs/api/shared/services/prisma/data-access/src/lib/api-shared-services-prisma--data-access.service.ts
  libs/api/shared/services/prisma/data-access/tsconfig.json
  libs/api/shared/services/prisma/data-access/tsconfig.lib.json
  libs/api/shared/services/prisma/data-access/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:repository, status:needs-tests, type:enhance

#53 🔥 First working authentication pages
  apps/client/src/app/app.module.ts
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.scss
  libs/client/login/feature/src/lib/loginpage/loginpage.component.spec.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/shared/assets/stockImages/7.jpg
  libs/client/shared/assets/stockImages/8.jpg
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.spec.ts
  libs/client/signup/feature/src/lib/client-signup-feature.module.ts
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.spec.ts
  libs/client/signup/feature/src/lib/signup/signup.component.ts
Labels: priority:high, scope:client, scope:ui, status:ready, type:change

#55 🚀Create Deploy.yml
  .github/workflows/Deploy.yml
Labels: priority:high, scope:cicd, status:ready, type:enhance

#54 🚀Deploy project to firebase
  .firebase/hosting.ZGlzdA.cache
  .firebase/hosting.ZGlzdFxhcHBzXGNsaWVudA.cache
  .firebaserc
  firebase.json
  package-lock.json
  package.json
  yarn.lock
Labels: priority:high, scope:cicd, status:ready, type:change

#63 🐛fix .env file
  .env
Labels: priority:high, scope:db, status:ready, type:test

#66 🎨 🔥 Adding Dashboard and routing to top level app
  .vscode/extensions.json
  apps/api/project.json
  apps/client-e2e/project.json
  apps/client/project.json
  apps/client/src/app/app-routing.module.ts
  libs/api/example/api/feature/project.json
  libs/api/example/api/shared/interfaces/data-access/project.json
  libs/api/example/repository/data-access/project.json
  libs/api/example/repository/shared/interfaces/data-access/project.json
  libs/api/example/service/feature/project.json
  libs/api/example/service/shared/interfaces/data-access/project.json
  libs/api/internal-api/api/shared/interfaces/data-access/project.json
  libs/api/internal-api/api/training-buddy-api/project.json
  libs/api/internal-api/repository/data-access/project.json
  libs/api/internal-api/repository/shared/interfaces/data-access/project.json
  libs/api/internal-api/service/shared/interfaces/data-access/project.json
  libs/api/internal-api/service/training-buddy-service/project.json
  libs/api/shared/services/prisma/data-access/project.json
  libs/api/shell/feature/project.json
  libs/client/dashboard/feature/.eslintrc.json
  libs/client/dashboard/feature/README.md
  libs/client/dashboard/feature/jest.config.js
  libs/client/dashboard/feature/project.json
  libs/client/dashboard/feature/src/index.ts
  libs/client/dashboard/feature/src/lib/client-dashboard-feature.module.ts
  libs/client/dashboard/feature/src/lib/dashboard-routing.module.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.spec.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/dashboard/feature/src/test-setup.ts
  libs/client/dashboard/feature/tsconfig.json
  libs/client/dashboard/feature/tsconfig.lib.json
  libs/client/dashboard/feature/tsconfig.spec.json
  libs/client/example/feature/project.json
  libs/client/login/feature/project.json
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.spec.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/shared/components/navbar/ui/project.json
  libs/client/shared/components/navbar/ui/src/lib/signed/signed.component.html
  libs/client/shared/components/navbar/ui/src/lib/signed/signed.component.scss
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.html
  libs/client/shared/interfaces/user/data-access/project.json
  libs/client/shared/services/authentication/data-access/project.json
  libs/client/shared/stores/authentication/data-access/project.json
  libs/client/shell/feature/project.json
  libs/client/signup/feature/project.json
  libs/client/signup/feature/src/lib/client-signup-feature.module.ts
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.spec.ts
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  nx.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:high, scope:api, scope:client, scope:ui, status:ready, type:change, type:test

#64 👽️ (API): intergration with Repo
  .env
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/local.strategy.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#67 :art: Removing route for default
  apps/client/src/app/app-routing.module.ts
  libs/client/settings/feature/.eslintrc.json
  libs/client/settings/feature/README.md
  libs/client/settings/feature/jest.config.js
  libs/client/settings/feature/project.json
  libs/client/settings/feature/src/index.ts
  libs/client/settings/feature/src/lib/client-settings-feature.module.ts
  libs/client/settings/feature/src/test-setup.ts
  libs/client/settings/feature/tsconfig.json
  libs/client/settings/feature/tsconfig.lib.json
  libs/client/settings/feature/tsconfig.spec.json
Labels: priority:low, scope:client, status:not-ready, type:change

#69 🐛 (API): Bug Fix
  libs/api/internal-api/api/training-buddy-api/src/lib/api-internal-api-api-training-buddy-api.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
Labels: priority:high, scope:api, status:needs-tests, type:bug

#71 :art: Configuring Apollo in app.module
  apps/client/src/app/app.module.ts
Labels: priority:high, scope:client, status:needs-tests, type:refactor

#72 Bug Fix
  .env
  apps/client/src/app/app.module.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user-dto.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user.entity.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/node_modules/.prisma/client/schema.prisma
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  prisma/schema.prisma
Labels: priority:medium, scope:api, scope:db, status:not-ready, type:bug

#74 💩 create the settings page
  libs/client/settings/feature/src/lib/settings/settings.component.html
  libs/client/settings/feature/src/lib/settings/settings.component.scss
  libs/client/settings/feature/src/lib/settings/settings.component.ts
Labels: priority:medium, scope:ui, status:needs-tests, type:new

#75 password column edited in DB
  prisma/migrations/20220512022523_edit_password_col/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Labels: priority:medium, scope:db, status:ready

#77 💄 Adding preference page and dashboard mock data and rough template
  apps/client/src/app/app-routing.module.ts
  apps/client/src/app/app.module.ts
  libs/client/athlete-profile/feature/.eslintrc.json
  libs/client/athlete-profile/feature/README.md
  libs/client/athlete-profile/feature/jest.config.js
  libs/client/athlete-profile/feature/project.json
  libs/client/athlete-profile/feature/src/index.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.scss
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/athlete-profile/feature/src/lib/client-athlete-profile-feature.module.ts
  libs/client/athlete-profile/feature/src/lib/dashboard-routing.module.ts
  libs/client/athlete-profile/feature/src/test-setup.ts
  libs/client/athlete-profile/feature/tsconfig.json
  libs/client/athlete-profile/feature/tsconfig.lib.json
  libs/client/athlete-profile/feature/tsconfig.spec.json
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/signup/feature/src/lib/signup/signup.component.spec.ts
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Labels: priority:medium, scope:client, scope:ui, status:not-ready, status:needs-tests, type:change, type:test

#88 ✅ (Repo):Add Activity stat Entity
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-stat.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-stat.ts
Labels: priority:high, scope:api, scope:repository, status:ready, type:enhance

#91 :art: Completing the Athlete Statistics page
  apps/client/src/app/app-routing.module.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.scss
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/athlete-profile/feature/src/lib/client-athlete-profile-feature.module.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  package-lock.json
  package.json
  yarn.lock
Labels: priority:medium, scope:client, scope:ui, status:not-ready, type:change

#94 ✅ 💯 (Tests): Added unit tests
  .vscode/settings.json
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/error-message.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/error-message.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/login-input.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/client/athlete-profile/feature/.eslintrc.json
  libs/client/athlete-profile/feature/README.md
  libs/client/athlete-profile/feature/jest.config.js
  libs/client/athlete-profile/feature/project.json
  libs/client/athlete-profile/feature/src/index.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.scss
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/athlete-profile/feature/src/lib/client-athlete-profile-feature.module.ts
  libs/client/athlete-profile/feature/src/lib/dashboard-routing.module.ts
  libs/client/athlete-profile/feature/src/test-setup.ts
  libs/client/athlete-profile/feature/tsconfig.json
  libs/client/athlete-profile/feature/tsconfig.lib.json
  libs/client/athlete-profile/feature/tsconfig.spec.json
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  package.json
  prisma/schema.prisma
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:cicd, status:ready, type:test

#96 Origin/db/update user
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:db, status:ready, type:enhance

#99 Add the Codev Badge
  README.md
Labels: priority:high, status:not-ready, type:documentation, scope:admin

#98 ✨💅🏾Editing profile use case
  libs/client/profile/feature/src/lib/client-profile-feature.module.ts
  libs/client/profile/feature/src/lib/profile/profile.component.html
  libs/client/profile/feature/src/lib/profile/profile.component.scss
  libs/client/profile/feature/src/lib/profile/profile.component.spec.ts
  libs/client/profile/feature/src/lib/profile/profile.component.ts
  libs/client/settings/feature/src/lib/settings/settings.component.html
  libs/client/settings/feature/src/lib/settings/settings.component.ts
Labels: priority:medium, scope:ui, status:needs-tests, type:enhance, type:new

#100 ✅ (Test): Added unit test to service
  .env
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/jwt-strategy.spec.ts
  libs/client/athlete-profile/feature/.eslintrc.json
  libs/client/athlete-profile/feature/README.md
  libs/client/athlete-profile/feature/jest.config.js
  libs/client/athlete-profile/feature/project.json
  libs/client/athlete-profile/feature/src/index.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.scss
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/athlete-profile/feature/src/lib/client-athlete-profile-feature.module.ts
  libs/client/athlete-profile/feature/src/lib/dashboard-routing.module.ts
  libs/client/athlete-profile/feature/src/test-setup.ts
  libs/client/athlete-profile/feature/tsconfig.json
  libs/client/athlete-profile/feature/tsconfig.lib.json
  libs/client/athlete-profile/feature/tsconfig.spec.json
  prisma/migrations/20220512151801_dropped_table/migration.sql
  prisma/migrations/20220512171820_change_column_names/migration.sql
  prisma/migrations/20220512172217_change_column_name_2/migration.sql
  prisma/migrations/20220512173647_unique_email/migration.sql
Labels: priority:high, scope:cicd, status:ready, type:test, scope:admin, type:new

#101 Update README.md
  README.md
Labels: priority:high, scope:client, status:ready, status:not-ready, type:documentation, type:enhance, scope:admin

#103 Update README.md
  README.md
Labels: priority:high, scope:cicd, status:needs-tests, type:documentation, scope:admin

#104 👍 (Documentation): Create codecov.yml
  codecov.yml
Labels: priority:high, scope:cicd, scope:repository, status:ready, type:documentation, type:enhance

#106 Profile/page
  libs/client/profile/feature/src/lib/profile/profile.component.spec.ts
  libs/client/profile/feature/src/lib/profile/profile.component.ts
Labels: priority:high, scope:api, scope:ui, status:not-ready, type:enhance, type:new

#105 🚧 (API): Comment Out Guard
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
Labels: priority:high, scope:api, scope:repository, status:not-ready, type:change

#109 ✅ (Codecov): Added codecov coverage
  .github/workflows/nxtest.yml
  codecov.yml
Labels: priority:high, scope:repository, status:ready, type:enhance, type:test, type:new

#112 🩹🚀fix deployment tests
  .github/workflows/Deploy.yml
Labels: priority:high, scope:cicd, status:ready, type:bug, scope:admin

#113 🚑 (Coverage): Update code coverage
  .github/workflows/nxtest.yml
Labels: priority:high, scope:repository, status:ready, type:change, type:documentation, type:test

#114 🚑fix profile
  libs/client/profile/feature/src/lib/profile/profile.component.ts
Labels: priority:high, scope:ui, status:ready, type:bug

#115 Update README.md
  README.md
Labels: priority:high, scope:cicd, status:ready, type:documentation

#118 Api/endpoints
  .env
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user-dto.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user.entity.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/userconfig.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/userconfig.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  tsconfig.base.json
  workspace.json
Labels: priority:high, scope:api, status:not-ready, type:enhance

#122 ✏️ (Entities) Fixing typos
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user-dto.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/userconfig.ts
Labels: priority:low, scope:api, status:not-ready, type:enhance

#124 Api/endpoints
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-log.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-log.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-schedule.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-schedule.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/update-user.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user-dto.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/userconfig.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:medium, scope:api, status:not-ready, type:enhance

#126 Added firestore config and testing findAll
  apps/api/src/main.ts
  apps/api/src/training-buddy-2022-firebase-adminsdk-uine6-59d810bb2a.json
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.module.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  yarn.lock
Labels: priority:medium, scope:db, status:needs-tests, type:change
