Repository COS301-SE-2022/Training-Buddy, pull requests merged in 2022-09, with the labels that each got.

#346 Strava webhooks
  apps/api/src/main.ts
  database-debug.log
  firestore-debug.log
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  package.json
  pubsub-debug.log
  ui-debug.log
  yarn.lock
Labels: priority:medium, scope:api, status:ready, type:new

#355 Bugfixes
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.ts
Labels: priority:high, scope:client, scope:ui, status:ready, type:bug

#356 🐛Skeleton for Email Notification
  .env
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#361 UI bugs
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/settings/feature/src/lib/settings/settings.component.html
Labels: priority:high, scope:ui, status:ready, type:bug, type:enhance

#362 Removing .env From Git History
  .gitignore
Labels: priority:high, scope:api, scope:client, status:ready, type:change

#364 Cleaning
  .env
Labels: priority:medium, scope:api, status:ready, type:change, scope:admin

#327 ✅(Unit Test): calculateSeconds function.
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.spec.ts
Labels: priority:low, scope:ui, status:needs-tests, type:bug, type:change, type:enhance, type:test

#365 UI bugs
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.scss
Labels: priority:high, scope:ui, status:ready, type:enhance, scope:admin

#353 🩹 SnackBars for error reporting
  apps/client/src/app/app-routing.module.ts
  apps/client/src/app/app.component.ts
  apps/client/src/app/app.module.ts
  apps/client/src/app/auth-gaurd.service.ts
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/login/feature/src/lib/client-login-feature.module.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.scss
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/settings/feature/src/lib/settings/settings.component.ts
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.html
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.scss
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.spec.ts
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.ts
  libs/client/shared/components/navbar/ui/src/lib/ui.module.ts
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.html
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  tsconfig.base.json
Labels: priority:low, scope:client, status:not-ready, type:enhance

#367 UI bugs
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.html
Labels: priority:medium, scope:db, status:ready, type:enhance

#375 💄schedule system
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.scss
Labels: priority:medium, scope:ui, status:ready, type:enhance

#366 ✅ (Integration): Test system functionality
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.spec.ts
Labels: priority:medium, scope:cicd, scope:client, status:ready, type:test

#376 Schedule system
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/shared/components/navbar/ui/src/lib/backnavbar/backnavbar.component.html
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.html
  libs/client/shared/components/navbar/ui/src/lib/settingsnavbar/settingsnavbar.component.html
  libs/client/shared/components/navbar/ui/src/lib/settingsnavbar/settingsnavbar.component.scss
  libs/client/shared/components/navbar/ui/src/lib/unsignednavbar/unsignednavbar.component.html
Labels: priority:high, scope:ui, status:ready, type:enhance

#378 requests fix
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/index.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, scope:db, status:ready, type:bug

#379 💯 (Integration): test coverage
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/changepassword/feature/src/lib/changepassword/changepassword.component.spec.ts
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.spec.ts
Labels: priority:medium, scope:client, status:ready, type:change, type:test, scope:admin, type:new

#385 💄💅improvements on workout invite UI
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.html
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.scss
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.spec.ts
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:medium, scope:ui, status:ready, type:enhance

#393 Rec Engine Final
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/update-user.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/userconfig.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, scope:db, status:ready, type:enhance

#389 💯 Coverage
  libs/client/addmanualactivity/feature/src/lib/addmanualactivity/addmanualactivity.component.spec.ts
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.spec.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.spec.ts
  libs/client/pagenotfound/src/lib/pagenotfound/pagenotfound.component.spec.ts
  libs/client/profile/feature/src/lib/profile/profile.component.spec.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.spec.ts
Labels: priority:high, priority:medium, scope:client, status:ready, type:enhance, type:test, scope:admin, type:new

#394 🐛 Fix Rec Bug
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:ready, type:bug

#395 🐛 bug fix
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:medium, scope:api, status:ready, type:bug

#396 Repo Layer live data
  libs/api/internal-api/repository/data-access/src/index.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:db, status:needs-tests, type:change

#397 👍 (landing): initial design
  libs/client/landingpage/feature/src/lib/client-landingpage-feature.module.ts
  libs/client/landingpage/feature/src/lib/landing/landing.component.html
  libs/client/landingpage/feature/src/lib/landing/landing.component.scss
  libs/client/landingpage/feature/src/lib/landing/landing.component.ts
Labels: priority:high, priority:medium, scope:client, scope:ui, status:ready, type:enhance, type:new

#398 🚀automatic deployment
  .github/workflows/Deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  firebase.json
Labels: priority:medium, scope:cicd, status:needs-tests, type:new

#399 Deployment🚀
  .gitignore
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.scss
  libs/training-buddy/dist/apps/api/assets/.gitkeep
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:high, scope:cicd, status:needs-tests, type:enhance

#400 🚀production files
  libs/training-buddy/dist/apps/client/190.79812c83eec50d09.js
  libs/training-buddy/dist/apps/client/195.11a62fb010d22946.js
  libs/training-buddy/dist/apps/client/259.fb152b778b73b407.js
  libs/training-buddy/dist/apps/client/341.7d80ee0ad33f26ee.js
  libs/training-buddy/dist/apps/client/391.ebe7d0f4525f1acd.js
  libs/training-buddy/dist/apps/client/3rdpartylicenses.txt
  libs/training-buddy/dist/apps/client/544.341b2e523ae8511f.js
  libs/training-buddy/dist/apps/client/606.02cf614ee83942be.js
  libs/training-buddy/dist/apps/client/610.214b4a5610e033cd.js
  libs/training-buddy/dist/apps/client/709.34c858aada4ceda2.js
  libs/training-buddy/dist/apps/client/792.975bddff635757bf.js
  libs/training-buddy/dist/apps/client/893.43fc04e44f04bf15.js
  libs/training-buddy/dist/apps/client/895.dba2e27f8d8e971b.js
  libs/training-buddy/dist/apps/client/918.c6771b338c74c6a0.js
  libs/training-buddy/dist/apps/client/93.1ce86652c2b71bb3.js
  libs/training-buddy/dist/apps/client/957.d5319652db4dea26.js
  libs/training-buddy/dist/apps/client/974.794fef2e1ee778c5.js
  libs/training-buddy/dist/apps/client/984.5e95caee27306531.js
  libs/training-buddy/dist/apps/client/assets/icons/icon-128x128.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-144x144.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-152x152.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-192x192.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-384x384.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-512x512.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-72x72.png
  libs/training-buddy/dist/apps/client/assets/icons/icon-96x96.png
  libs/training-buddy/dist/apps/client/common.86981d85435363c9.js
  libs/training-buddy/dist/apps/client/favicon.ico
  libs/training-buddy/dist/apps/client/index.html
  libs/training-buddy/dist/apps/client/main.97861b783f5494fe.js
  libs/training-buddy/dist/apps/client/manifest.webmanifest
  libs/training-buddy/dist/apps/client/ngsw-worker.js
  libs/training-buddy/dist/apps/client/ngsw.json
  libs/training-buddy/dist/apps/client/polyfills.a165c0ab4e49584e.js
  libs/training-buddy/dist/apps/client/runtime.8d88b3f82f0b0dc0.js
  libs/training-buddy/dist/apps/client/safety-worker.js
  libs/training-buddy/dist/apps/client/styles.a4129377062397f2.css
  libs/training-buddy/dist/apps/client/worker-basic.min.js
Labels: priority:medium, scope:cicd, status:not-ready, type:enhance

#403 🐛 Dashboard Rec Bug Fix
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:ready, type:bug

#410 Workout invite
  apps/client/src/app/app.module.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.html
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/schedule/feature/src/lib/rating/rating.component.html
  libs/client/schedule/feature/src/lib/rating/rating.component.scss
  libs/client/schedule/feature/src/lib/rating/rating.component.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/settings/feature/src/lib/settings/settings.component.html
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:client, status:ready, type:enhance

#409 🐛 Filter Bug Fix
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
Labels: priority:high, scope:api, status:ready, type:bug

#411 🚀 (Performance): track application performance
  apps/client/src/app/app.module.ts
Labels: priority:high, priority:medium, scope:repository, status:ready, type:bug, type:enhance, type:test, scope:admin, type:new

#416 Workout invite
  libs/client/schedule/feature/src/lib/rating/rating.component.html
  libs/client/schedule/feature/src/lib/rating/rating.component.scss
  libs/client/schedule/feature/src/lib/rating/rating.component.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.html
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:cicd, status:ready, type:enhance

#417 ✨ (Availability): testing setup.
  apps/client/src/index.html
Labels: priority:medium, scope:client, scope:db, scope:repository, status:ready, type:enhance, type:test, type:new

#401 🎨 Changes to Signup UI
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.html
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.scss
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.ts
  libs/client/signup/feature/src/lib/signup/deviceview.png
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.html
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.scss
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.ts
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:client, scope:ui, status:not-ready, type:enhance

#418 💄 (UI): refactored landing page
  libs/client/landingpage/feature/src/lib/landing/landing.component.html
  libs/client/landingpage/feature/src/lib/landing/landing.component.scss
  libs/client/landingpage/feature/src/lib/landing/landing.component.ts
  libs/client/shared/assets/icons/derivedLogo.png
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.html
Labels: priority:high, priority:medium, scope:client, scope:repository, status:ready, type:bug, type:change, type:refactor, type:enhance, scope:admin, type:new

#414 Live Data
  .gitignore
  apps/client/src/app/app.module.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.spec.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.ts
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.spec.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.ts
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:ready, type:enhance

#421 Complete workout💪🏾
  apps/client/src/app/app.module.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/response-workout.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.html
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.scss
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.ts
  libs/client/signup/feature/src/lib/signup/deviceview.png
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.html
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.scss
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.ts
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:api, scope:db, scope:ui, status:ready, type:enhance

#422 Complete workout💪🏾
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.ts
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.html
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.scss
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.ts
  libs/client/signup/feature/src/lib/signup/deviceview.png
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/signup/feature/src/lib/signup/signup.component.ts
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.html
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.scss
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.ts
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:ui, status:ready, type:enhance

#424 ✅ (Testing): refactor backend tests.
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
Labels: priority:high, priority:medium, scope:cicd, scope:db, scope:repository, status:ready, type:change, type:enhance, type:test, scope:admin

#426 ✅ (Performance): add firebase tracking service.
  apps/client/src/app/app.module.ts
Labels: priority:high, priority:medium, scope:api, scope:cicd, status:ready, type:enhance, type:test, scope:admin, type:new

#425 ✨ Email System For Invites
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/client/shared/components/navbar/ui/src/lib/logo/logo.component.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:ready, type:enhance

#428 🚑 (Fix): Performance service.
  apps/client/src/app/app.module.ts
Labels: priority:high, scope:db, scope:repository, status:ready, type:bug, type:change, type:refactor

#431 ✅ (Coverage): test findAll function
  libs/api/example/api/feature/src/lib/feature.controller.spec.ts
Labels: priority:high, priority:medium, scope:db, scope:repository, status:ready, type:enhance, type:test, type:new

#430 🎨 💄 (UI) : Landing Page
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/landingpage/feature/src/lib/landing/deviceview.png
  libs/client/landingpage/feature/src/lib/landing/landing.component.html
  libs/client/landingpage/feature/src/lib/landing/landing.component.scss
Labels: priority:medium, scope:ui, status:ready, type:enhance

#432 🚑Complete workout
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user.entity.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:high, scope:ui, status:not-ready, type:enhance

#433 🚑 Landing page routing and routerLinks added
  apps/client/src/app/app-routing.module.ts
  libs/client/landingpage/feature/src/lib/landing/landing.component.html
Labels: priority:medium, scope:client, status:ready, type:refactor

#434 🚑 🐛 Fix for dash and invites bug
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/package.json
  libs/training-buddy/dist/apps/api/main.js.map
  libs/training-buddy/dist/apps/client/190.79812c83eec50d09.js
  libs/training-buddy/dist/apps/client/195.d648881bc69acccd.js
  libs/training-buddy/dist/apps/client/259.fb152b778b73b407.js
  libs/training-buddy/dist/apps/client/341.a698c380df5e4ae8.js
  libs/training-buddy/dist/apps/client/391.dcff9179b2adced7.js
  libs/training-buddy/dist/apps/client/3rdpartylicenses.txt
  libs/training-buddy/dist/apps/client/544.85c80264e1753404.js
  libs/training-buddy/dist/apps/client/554.e035c7dea5a75fba.js
  libs/training-buddy/dist/apps/client/610.214b4a5610e033cd.js
  libs/training-buddy/dist/apps/client/893.ee69931d04eca905.js
  libs/training-buddy/dist/apps/client/895.dba2e27f8d8e971b.js
  libs/training-buddy/dist/apps/client/918.c6771b338c74c6a0.js
  libs/training-buddy/dist/apps/client/93.93d745d05418bd85.js
  libs/training-buddy/dist/apps/client/957.d5319652db4dea26.js
  libs/training-buddy/dist/apps/client/974.794fef2e1ee778c5.js
  libs/training-buddy/dist/apps/client/984.a6b676e5555dd089.js
  libs/training-buddy/dist/apps/client/common.06a0425452789acd.js
  libs/training-buddy/dist/apps/client/index.html
  libs/training-buddy/dist/apps/client/main.a8995586e50fc065.js
  libs/training-buddy/dist/apps/client/ngsw.json
  libs/training-buddy/dist/apps/client/runtime.e26aad9d812fdba2.js
  libs/training-buddy/dist/apps/client/styles.ad0fccbf636707fe.css
  libs/yarn.lock
Labels: priority:high, scope:client, status:ready, type:bug, type:enhance

#435 ✅ (Routing): provide tests for routing files
  apps/client/src/app/app.component.spec.ts
  libs/api/example/api/feature/src/lib/feature.controller.spec.ts
Labels: priority:high, priority:medium, scope:client, scope:ui, status:ready, type:bug, type:test, scope:admin, type:new

#437 reject requests fixed
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:high, scope:db, status:ready, type:bug

#436 Filter Buddies
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:ready, type:enhance

#439 Client/UI
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:high, scope:client, status:ready, type:enhance

#442 Client/landing page
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/landingpage/feature/src/lib/landing/landing.component.scss
  libs/training-buddy/dist/apps/api/main.js
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:client, status:needs-tests, type:bug, type:test

#443 🔒fix sign up security vulnerability
  libs/client/signup/feature/src/lib/signup/signup.component.ts
Labels: priority:high, scope:client, status:ready, type:enhance

#444 Bug Fix and Logo Add
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/shared/components/navbar/ui/src/lib/settingsnavbar/settingsnavbar.component.html
Labels: priority:high, scope:api, scope:ui, status:ready, type:bug

#449 🐛 CSS and NoBuddies on profile page
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.html
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.scss
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.scss
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.scss
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:high, scope:ui, status:ready, type:bug

#451 🚀disable continuous deployment
  .github/workflows/firebase-hosting-merge.yml
Labels: priority:high, scope:cicd, status:ready, type:change

#454 🚑fix activity bug
  libs/client/schedule/feature/src/lib/complete-workout/complete-workout.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:low, scope:client, status:ready, type:enhance

#458 ✨ Change in Font
  apps/client/src/styles.scss
Labels: priority:medium, scope:repository, status:ready, type:enhance

#452 🚑 App. activity duration and Sort Activities
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.ts
  libs/client/shared/components/navbar/ui/src/lib/backnavbar/backnavbar.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.scss
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
  libs/training-buddy/dist/apps/api/main.js.map
Labels: priority:medium, scope:client, status:ready, type:change

#456 💅🚑fix distance
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.scss
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:low, scope:client, status:ready, type:bug, type:enhance

#441 ✅ (Backend): test functionality
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.spec.ts
Labels: priority:high, priority:medium, scope:db, scope:repository, status:ready, type:change, type:refactor, type:enhance, type:test, type:new

#459 Added newest version of docs and video
  README.md
Labels: priority:medium, status:ready, type:documentation, scope:admin

#460 💄 (Documentation): update readme
  README.md
Labels: priority:high, priority:medium, scope:client, scope:repository, scope:ui, status:ready, type:change, type:documentation, type:enhance, scope:admin, type:new
