Repository COS301-SE-2022/Training-Buddy, pull requests merged in 2022-07, with the labels that each got.

#213 🐛 💄 (UI) : Fixed editprofile page
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.html
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.scss
Labels: priority:high, scope:client, status:ready, type:bug, type:change, type:enhance, type:new

#214 UI/schedule workout
  apps/client/src/app/app-routing.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/login/feature/src/lib/loginpage/loginpage.component.html
  libs/client/login/feature/src/lib/loginpage/loginpage.component.scss
  libs/client/pagenotfound/.eslintrc.json
  libs/client/pagenotfound/README.md
  libs/client/pagenotfound/jest.config.js
  libs/client/pagenotfound/project.json
  libs/client/pagenotfound/src/index.ts
  libs/client/pagenotfound/src/lib/client-pagenotfound.module.ts
  libs/client/pagenotfound/src/lib/pagenotfound/pagenotfound.component.html
  libs/client/pagenotfound/src/lib/pagenotfound/pagenotfound.component.scss
  libs/client/pagenotfound/src/lib/pagenotfound/pagenotfound.component.spec.ts
  libs/client/pagenotfound/src/lib/pagenotfound/pagenotfound.component.ts
  libs/client/pagenotfound/src/lib/strava-routing.module.ts
  libs/client/pagenotfound/src/test-setup.ts
  libs/client/pagenotfound/tsconfig.json
  libs/client/pagenotfound/tsconfig.lib.json
  libs/client/pagenotfound/tsconfig.spec.json
  libs/client/signup/feature/src/lib/signup/signup.component.html
  libs/client/signup/feature/src/lib/signup/signup.component.scss
  libs/client/strava/feature/src/lib/services/strava-api.service.ts
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.html
  libs/client/strava/feature/src/lib/stravalink/stravalink.component.scss
  libs/client/uploadprofileimage/feature/.eslintrc.json
  libs/client/uploadprofileimage/feature/README.md
  libs/client/uploadprofileimage/feature/jest.config.js
  libs/client/uploadprofileimage/feature/project.json
  libs/client/uploadprofileimage/feature/src/index.ts
  libs/client/uploadprofileimage/feature/src/lib/client-uploadprofileimage-feature.module.ts
  libs/client/uploadprofileimage/feature/src/lib/strava-routing.module.ts
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.html
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.scss
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.spec.ts
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.ts
  libs/client/uploadprofileimage/feature/src/test-setup.ts
  libs/client/uploadprofileimage/feature/tsconfig.json
  libs/client/uploadprofileimage/feature/tsconfig.lib.json
  libs/client/uploadprofileimage/feature/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Labels: priority:medium, scope:client, scope:ui, status:not-ready, type:bug, type:refactor

#219 ✅ (API/Services) Invite And Workout
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:medium, scope:api, status:needs-tests, type:enhance

#221 accept invite and view incoming/outgoing invites
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:db, status:ready, type:new

#225 uuid
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:db, status:ready, type:change

#237 Creating API And Services
  libs/api/internal-api/api/shared/interfaces/data-access/src/index.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/invite.spec.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/invite.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#241 ✅ (API) Subscription added To Incoming
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/shell/feature/src/lib/api-shell-feature.module.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#245 completing a workout
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-schedule.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:medium, scope:db, status:ready, type:new

#249 ✅ (API) ProfileImage And Updates
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/update-user.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#250 ✅ Get User ID
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/user.entity.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:ready, type:enhance

#251 🐛 Fix
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:needs-tests, type:enhance

#256 ✅ (Tests): api layer tests
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
Labels: priority:high, scope:api, scope:repository, status:ready, type:change, type:enhance, type:test

#255 Api/endpoints
  .vscode/settings.json
  libs/api/internal-api/api/training-buddy-api/src/lib/api-internal-api-api-training-buddy-api.module.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/api-internal-api-service-training-buddy-service.module.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  package.json
  yarn.lock
Labels: priority:high, scope:api, status:not-ready, type:enhance

#258 🐛 Fix Sign up Bug
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, status:needs-tests, type:bug, type:enhance

#260 ✅ (Tests): service layer tests
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
Labels: priority:high, scope:api, scope:cicd, scope:repository, status:ready, type:bug, type:change, type:enhance, type:test, type:new

#266 Schedule workout system
  libs/client/schedule/feature/src/lib/client-schedule-feature.module.ts
  libs/client/schedule/feature/src/lib/schedule-routing.module.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.spec.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.spec.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/client/scheduleworkout/feature/src/lib/client-scheduleworkout-feature.module.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.html
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.scss
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.ts
Labels: priority:high, scope:ui, status:ready, type:new

#267 🚑 Saving Scheduling
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/activity-schedule.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/response-workout.ts
Labels: priority:high, scope:api, scope:ui, status:not-ready, type:enhance

#276 :bug: 🚑 tailwind fix
  apps/client/src/index.html
Labels: priority:low, scope:client, status:ready, type:bug

#277 🚑 Query Change
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
Labels: priority:high, scope:api, status:needs-tests, type:change

#278 Client/firestore
  apps/client/src/app/app.module.ts
  apps/client/src/environments/environment.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/client/dashboard/feature/src/lib/client-dashboard-feature.module.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.spec.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  package.json
  tsconfig.base.json
  yarn.lock
Labels: priority:medium, scope:client, status:ready, type:change

#281 😢 Adding firestore module
  apps/client/project.json
  apps/client/src/app/app.module.ts
  package.json
  yarn.lock
Labels: priority:high, scope:client, status:ready, type:refactor

#268 🚑 fix UI bug
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
Labels: priority:high, scope:ui, status:ready, type:bug

#290 Schedule/system
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/invite.ts
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/response-workout.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:high, scope:client, status:ready, type:enhance

#291 🐛time bug fixed
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
Labels: priority:high, scope:ui, status:ready, type:bug

#292 ✨ Image Upload
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.spec.ts
  libs/api/internal-api/api/training-buddy-api/src/lib/training-buddy-api.resolver.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/athlete-profile/feature/src/lib/athleteprofile/athleteprofile.component.spec.ts
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage-routing.module.ts
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.html
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.spec.ts
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.ts
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.spec.ts
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
  package.json
  yarn.lock
Labels: priority:high, scope:ui, status:ready, type:enhance

#294 🐛 fix accept and reject bug
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
Labels: priority:high, scope:ui, status:ready, type:bug, type:enhance

#275 🧑‍💻 (Tests): Automated tests using cypress
  cypress.config.js
  cypress/fixtures/example.json
  cypress/integration/app.spec.ts
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
  package.json
Labels: priority:high, scope:api, scope:cicd, scope:client, scope:db, scope:ui, status:ready, type:bug, type:enhance, type:test, type:new

#295 ✨ Update a Profile Image
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.spec.ts
  libs/client/editprofile/feature/src/lib/editprofilepage/editprofilepage.component.ts
Labels: priority:high, scope:ui, status:ready, type:enhance

#297 ✨ Add workout
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.html
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.ts
Labels: priority:high, scope:ui, status:ready, type:new

#299 ✅ (Tested): service layer modules
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.spec.ts
Labels: priority:medium, scope:api, scope:repository, status:ready, type:bug, type:refactor, type:test, type:new

#302 💩View workout
  libs/client/schedule/feature/src/lib/schedule-routing.module.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.spec.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
  libs/client/scheduleworkout/feature/src/lib/scheduleworkout/scheduleworkout.component.ts
Labels: priority:high, scope:ui, status:not-ready, type:new

#298 Schedule/system
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/response-workout.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
Labels: priority:medium, scope:db, status:ready, type:change

#303 ✅ 🚨 (Automated Tests): added headless run
  cypress.config.js
  cypress/integration/login.spec.ts
  package.json
Labels: priority:high, scope:api, scope:client, scope:repository, scope:ui, status:ready, type:change, type:enhance, type:test, type:new

#304 🚑 Schedule Back Running
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:high, scope:client, status:not-ready, type:enhance

#306 Schedule/system
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.scss
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:high, scope:ui, status:ready, type:enhance

#310 ✅ (Integration): Tested system functionality
  .github/workflows/nxtest.yml
  cypress.config.js
  cypress/fixtures/buddy.jpg
  cypress/fixtures/buddy2.jpg
  cypress/integration/1.login.spec.ts
  cypress/integration/2.dashboard.spec.ts
  cypress/integration/3.addactivity.spec.ts
  cypress/integration/4.profile.spec.ts
  cypress/integration/5.settings.spec.ts
  cypress/integration/6.editprofile.spec.ts
  cypress/integration/7.activitysettings.spec.ts
  cypress/integration/login.spec.ts
Labels: priority:high, scope:api, scope:cicd, scope:client, scope:db, scope:ui, status:ready, type:change, type:enhance, type:test, type:new

#309 ✨Schedule system
  libs/api/internal-api/api/shared/interfaces/data-access/src/lib/invite.ts
  libs/api/internal-api/repository/data-access/src/lib/api-internal-api-repository-data-access.service.ts
  libs/api/internal-api/service/training-buddy-service/src/lib/training-buddy-service.service.ts
  libs/client/schedule/feature/src/lib/client-schedule-feature.module.ts
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.ts
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.html
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.scss
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.spec.ts
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.scss
  libs/client/schedule/feature/src/lib/workout/workout.component.spec.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:high, scope:api, scope:client, scope:ui, status:ready, type:enhance, type:new

#312 ✨Image and minor styling fix
  libs/client/schedule/feature/src/lib/viewschedule/viewschedule.component.html
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.spec.ts
  libs/client/schedule/feature/src/lib/workout-invite/workout-invite.component.ts
  libs/client/schedule/feature/src/lib/workout/workout.component.html
  libs/client/schedule/feature/src/lib/workout/workout.component.ts
Labels: priority:high, scope:api, scope:client, scope:ui, status:ready, type:enhance

#311 ✅ (Coverage): update files
  .github/workflows/nxtest.yml
Labels: priority:medium, scope:api, scope:cicd, scope:ui, status:ready, type:change, type:test, type:new

#301 working dashboard with firestore
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.html
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.scss
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.spec.ts
  libs/client/dashboard/feature/src/lib/dashboard/dashboard.component.ts
  libs/client/dashboard/feature/src/lib/dashboard/temp.ts
  libs/client/uploadprofileimage/feature/src/lib/uploadprofileimage/uploadprofileimage.component.ts
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.scss
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:high, scope:api, scope:cicd, scope:client, status:ready, status:not-ready, type:bug, type:refactor, type:test, type:new

#313 ✅ (Automated Tests): Unit and Integration tests using Cypress
  README.md
  cypress/integration/1.login.spec.ts
  cypress/integration/5.settings.spec.ts
  cypress/integration/7.activitysettings.spec.ts
  cypress/integration/8.changepassword.spec.ts
  cypress/screenshots/5.settings.spec.ts/training-buddy-client-athlete-profile-feature -- should allow user to logout (failed).png
  cypress/screenshots/5.settings.spec.ts/training-buddy-client-athlete-profile-feature -- should allow user to navigate to and from settings page (failed).png
  cypress/screenshots/7.activitysettings.spec.ts/training-buddy-client-athlete-profile-feature -- should add all activites (failed).png
  cypress/screenshots/7.activitysettings.spec.ts/training-buddy-client-athlete-profile-feature -- should add one activity only (failed).png
  cypress/screenshots/7.activitysettings.spec.ts/training-buddy-client-athlete-profile-feature -- should add user bio only (failed).png
  cypress/screenshots/7.activitysettings.spec.ts/training-buddy-client-athlete-profile-feature -- should try to save without updates (failed).png
  cypress/screenshots/8.changepassword.spec.ts/training-buddy-client-changepassword-feature -- should navigate to login (failed).png
Labels: priority:high, scope:api, scope:cicd, scope:client, scope:db, scope:repository, scope:ui, status:ready, type:bug, type:documentation, type:enhance, type:test, scope:admin, type:new

#314 🚑 Fixing the buddy count on view profile
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.html
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.scss
  libs/client/viewprofile/feature/src/lib/viewprofilepage/viewprofilepage.component.ts
Labels: priority:high, scope:client, status:ready, type:bug

#316 Update README.md
  README.md
Labels: priority:high, scope:db, status:ready, type:change
